---
import SectionTitle from "./SectionTitle.astro";
import ProjectCard from "./ProjectCard.astro";

const myProjects = [
  {
    name: "Flavor Trail Menú",
    description:
      "Aplicación web para la gestión y visualización de menús de restaurantes. Realizada utilizando el framework Quasar y un backend en Laravel.",
    src: "/img/flavor-trail.jpg",
    href: "http://24.199.98.169/#/",
    technologies: ["Vue", "Quasar", "Pinia", "Laravel"],
    githubUrl: "/",
  },
  {
    name: "Egx Ingeniería",
    description:
      "Página web de contacto para la empresa EGX Ingeniería. Exploré el framework Astro y descubrí su potencial para el desarrollo de sitios estáticos.",
    src: "/img/egx-ingenieria.jpg",
    href: "http://www.egxingenieria.cl",
    technologies: ["Astro", "Tailwind"],
    githubUrl: "/",
  },
];
---

<section
  id="Projects"
  class="min-h-[100vh] px-8 py-24 max-w-5xl xl:ml-24 w-full"
>
  <SectionTitle title="Proyectos" number="02" />
  <div class="flex flex-col gap-24 lg:gap-40 mt-16 lg:items-start items-center">
    {
      myProjects.map((project, index) => (
        <ProjectCard
          name={project.name}
          description={project.description}
          src={project.src}
          href={project.href}
          reverse={index % 2 === 0}
          technologies={project.technologies}
          githubUrl={project.githubUrl}
        />
      ))
    }
  </div>
</section>
